html {
    background-color: #f2f2f2;
    line-height: 1.8;
    font-size: 16px;
}
body {
    max-width: 45rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 0 0.5rem;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 1rem;
}
header h1 {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
}
header a {
    font-size: 1.5rem;
}
a {
    color: #0076a8;
}
hr {
    width: 66%;
    margin: 3.5rem auto;
}